/* ---------- Fonts ---------- */
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


body {
  font-family: 'RedHatText', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: hsl(13, 31%, 94%);
  display: grid;
  grid-template-columns: 1fr 300px;
  position: relative;
}

.main-content {
  grid-column: 1;
}

.main-content h2 {
  color: #333;
  margin: 20px 0;
  font-size: xx-large;
  padding-left: 15px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}


.product-card {
  width: 250px;
  padding: 15px;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-category {
  color: hsl(7, 20%, 60%);
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0 5px 0;
}

.product-name {
  color: black;
  font-size: 16px;
  margin: 5px 0;
}

.product-price {
  color: hsl(14, 86%, 42%);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.prep-time {
  font-size: 12px;
  color: hsl(7, 20%, 60%);
  margin-left: 6px;
}

.add-to-cart-btn,
.quantity-btn {
  width: 70%;
  margin: -35px auto 0 auto;
  position: relative;
  z-index: 1;
}

.add-to-cart-btn button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.2s;
}

.add-to-cart-btn button:hover {
  border: 1px solid hsl(14, 86%, 42%);
  color: hsl(14, 86%, 42%);
}

.add-to-cart-btn button img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.add-to-cart-btn button span {
  font-size: 14px;
}


.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  background-color: hsl(14, 86%, 42%);
  border: 1px solid hsl(14, 86%, 42%);
  border-radius: 50px;
  height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
}

.quantity-btn button {
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-btn .quantity-value {
  font-size: 14px;
  font-weight: bold;
  color: white;
  min-width: 20px;
  text-align: center;
}

.quantity-btn button:hover {
  background-color: white;
}

.quantity-btn button:hover img {
  filter: invert(29%) sepia(22%) saturate(5963%) hue-rotate(354deg) brightness(92%) contrast(98%);
}

.quantity-btn img {
  width: 12px;
  height: 12px;
}

.selected-product .product-image {
  border: 3px solid hsl(14, 86%, 42%);
  box-sizing: border-box;
}

.right-panel {
  grid-column: 2;
  position: sticky;
  top: 20px;
  height: fit-content;
}

